.list{
    color: aliceblue;
    background-color: #8989e6;
    margin: 20px;
    border-radius: 12px;
    height: 80px;
}

.list p{
    padding:10px;
    position: relative;
    font-size: 25px;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding: 1px;
}

.list p input{
    background-color: transparent;
    border:0;
}

.list p input:focus{
    outline: none;
}